    .banner {
        padding: 3em 1em;
        position: relative;
        text-align: center;
        overflow: hidden;
        &__text {
            // 16px = 1em (на мобильных лучше оставить стандарт или чуть увеличить)
            font-size: 0.8em;
            font-weight: $base-weight;
            margin: 0 auto 1.5em;
            max-width: 100%;
            line-height: 1.5;
        }
        &__img {
            display: inline-block;
            max-width: 7.5em;
            height: auto;
            margin-top: 1.25em;
            @media (min-width: 48em) {
                position: absolute;
                bottom: 0;
                max-width: 15em;
                margin-top: 0;
                z-index: 1;
                &--left {
                    left: 0;
                }
                &--right {
                    right: 0;
                }
            }
            @media (min-width: 68.75em) {
                max-width: 19.8em;
            }
        }
        @media (min-width: 48em) {
            padding: 7.75em 0 6.06em;
            &__text {
                font-size: 1.25em;
                max-width: 27.6em;
                position: relative;
                z-index: 2;
            }
        }
    }