* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}