.button {
    width: 11.55em;
    height: 2.25em;
    border-radius: 1em;
    font-weight: $base-weight;
    font-size: 1.25em;
    background-color: #000;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
        transition: 0.15s ease;
    }
    &--primary {
        color: $primary-color;
    }
}