.button {
    @include button($height: 2.25em);
    width: 11.55em;
    &:hover {
        background-color: $hover-color;
        transition: 0.15s ease;
    }
    &--primary {
        color: $primary-color;
    }
}