.cross {
    position: absolute;
    font-size: 1.5em;
    width: 2.33em;
    height: 2.33em;
    background-color: #fff;
    right: 0.4em;
    top: 0.4em;
    padding: 0.6em;
    border: 0.08em solid #000;
    border-radius: 0.6em;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
    }
}