.custom-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__input {
        width: 23em;
        border: none;
        border-bottom: 0.06em solid #000;
        padding: 0.25em 0;
        font-size: 2em;
        outline: none;
        background: transparent;
        margin-bottom: 0.72em;
        font-weight: $base-weight;
    }
}