.emoji-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2.5em;
    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 18em;
        padding: 0.5em 1em;
        border-radius: 40em;
        background-color: $primary-color;
    }
    &__icon {
        font-size: 1.6em;
        margin-right: 0.4em;
    }
    &__text {
        font-size: 1.1em;
        font-weight: $base-weight;
    }
    @media (min-width: 28.18em) {
        // > 450px
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.8em;
        &__item {
            width: auto;
            max-width: none;
        }
    }
    @media (min-width: 56.25em) {
        gap: 1em;
        margin-bottom: 4em;
        &__icon {
            font-size: 2em;
        }
        &__text {
            font-size: 1.3em;
        }
    }
    @media (min-width: 69.43em) {
        flex-wrap: nowrap;
        column-gap: 0.5em;
        margin-bottom: 6em;
        &__item {
            padding: 0.6em 1.2em;
        }
        &__icon {
            font-size: 2.4em;
        }
        &__text {
            font-size: 1.5em;
        }
    }
}