.footer {
    background-color: #000;
    padding: 2em 1.5em;
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin-bottom: 2em;
        @media (min-width: 69.375em) {
            flex-direction: row;
            justify-content: flex-start;
            gap: 3em;
            margin-bottom: 0;
        }
    }
    &__contact-item {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-bottom: 1.5em;
        @media (min-width: 69.375em) {
            margin-bottom: 2em;
            gap: 1em;
        }
    }
    &__label {
        font-size: 1.1em;
        color: $primary-color;
        @media (min-width: 69.375em) {
            font-size: 1.25em;
        }
    }
    &__link {
        font-family: 'NeueMachina';
        text-decoration: underline;
        color: $primary-color;
        font-size: 1.5em;
        word-break: break-all;
        @media (min-width: 69.375em) {
            font-size: 3em;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5em;
        @media (min-width: 77.5em) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}