        .form {
            &__item {
                display: flex;
                column-gap: 1.5em;
            }
            &__input {
                @include input-style;
                padding: 0.25em 0;
                &::placeholder {
                    opacity: 30%;
                }
            }
            &__add-file {
                position: relative;
                margin-bottom: 2em;
            }
            &__textarea {
                @include input-style;
                padding: 0.31em 3.44em 0.31em 0;
                resize: none;
                &::placeholder {
                    opacity: 30%;
                }
                &--error-red {
                    border-bottom: 0.06em solid red;
                }
            }
            &__add-btn {
                position: absolute;
                right: 2em;
                bottom: 0.6em;
                background-color: #000;
                font-size: 1.25em;
                border-radius: 0.4em;
                padding: 0.3em 0.4em;
                color: $primary-color;
                cursor: pointer;
            }
            &__file-input {
                display: none;
            }
            &__description {
                font-size: 1.25em;
                margin-bottom: 1.2em;
                font-weight: $base-weight;
            }
            &__wrapper {
                position: relative;
            }
            &__error {
                display: none;
                width: 1.8em;
                height: 1.8em;
                border-radius: 0.4em;
                position: absolute;
                right: 0.5em;
                top: 50%;
                transform: translateY(-50%);
                color: red;
            }
        }