.header {
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    padding: 1.25em 3em;
    border: 0.06em solid #F2F2F2;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}