.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    background-color: #F9F7FF;
    border-radius: 2.5em;
    gap: 1.5em;
    @media screen and (min-width: 90em) {
        justify-content: center;
    }
    @media screen and (min-width: 80em) {
        padding: 1.25em 3em;
        border: 0.06em solid #F2F2F2;
        border-radius: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        z-index: 10;
    }
}