.menu {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        list-style: none;
        padding: 0;
        margin: 0;
        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            column-gap: 2em;
        }
    }
    &__item {
        background-color: #fff;
        border-radius: 1.2em;
        &--dropdown {
            background-color: transparent;
            @media screen and (min-width: 992px) {
                position: relative;
                z-index: 2;
                &:hover .menu__link {
                    display: block;
                    padding: 0.6em 0.8em;
                    border-radius: 1em;
                    background-color: $hover-color;
                    color: #fff;
                }
                &:hover .submenu {
                    display: block;
                }
            }
        }
        @media screen and (min-width: 992px) {
            background-color: transparent;
            font-size: 1.25em;
        }
    }
    &__link {
        display: flex;
        justify-content: space-between;
        padding: 1.2em 1.5em;
        text-decoration: none;
        color: #000;
        @media screen and (min-width: 992px) {
            display: block;
            padding: 0.6em 0.8em;
            border-radius: 1em;
            &:hover {
                background-color: $hover-color;
            }
        }
    }
}