.menu {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.6em;
        padding: 0;
        margin: 0;
        list-style: none;
        @media (min-width: 62em) {
            flex-direction: row;
            gap: 2em;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (min-width: 62em) {
            position: relative;
            &:hover {
                .menu__link {
                    background-color: $hover-color;
                    color: $primary-color;
                }
                .submenu {
                    display: flex;
                }
            }
        }
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2em 1.5em;
        background-color: $primary-color;
        border-radius: 1.2em;
        text-decoration: none;
        color: #000;
        font-size: 1.25em;
        font-weight: 600;
        &::after {
            content: '';
            width: 0.6em;
            height: 0.6em;
            border-top: 0.12em solid #000;
            border-right: 0.12em solid #000;
            transform: rotate(45deg);
        }
        @media (min-width: 62em) {
            display: inline-flex;
            width: max-content;
            background-color: transparent;
            padding: 0.6em 1em;
            border-radius: 1em;
            font-weight: $base-weight;
            &::after {
                display: none;
            }
        }
    }
}