@mixin button ($height: 2.35em) {
    height: $height;
    border-radius: 1.25em;
    font-weight: $base-weight;
    font-size: 1.25em;
    background-color: #000;
    cursor: pointer;
}

@mixin input-style {
    flex: 1;
    width: 100%;
    border: none;
    font-size: 2em;
    font-weight: $base-weight;
    border-bottom: 0.06em solid #000;
    outline: none;
}