.quiz-card {
    display: flex;
    position: relative;
    width: 90%;
    overflow: hidden;
    &__history {
        width: 20em;
        background-color: transparent;
        color: #fff;
        margin-right: 0.5em;
        align-self: start;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    &__history-item {
        border-bottom-right-radius: 1em;
        border-top-right-radius: 1em;
        padding: 1.2em 1em;
        &--completed {
            background-color: #ffffff; // Фон становится белым
            .quiz-card__history-title,
            .quiz-card__history-answer {
                color: #000000 !important; // Текст становится черным
            }
        }
        &--current {
            background-color: #000000;
            .quiz-card__history-title,
            .quiz-card__history-answer {
                color: #ffffff !important;
            }
        }
    }
    &__history-title {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 0.5em;
    }
    &__history-answer {
        font-size: 1em;
        font-weight: $base-weight;
    }
    &__content {
        position: relative;
        width: 69.5em;
        background-color: #fff;
        padding: 2em 2em 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 2em;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 60px;
            background: linear-gradient(90deg, #F0D9FF 0%, #E9C4FF 100%);
            box-shadow: 0 0 40px 10px #E9C4FF;
            filter: blur(15px);
            opacity: 0.9;
            z-index: -1;
            pointer-events: none;
        }
    }
    &__question-title {
        font-size: 4.5em;
        margin-bottom: 0.33em;
        font-family: 'NeueMachina';
    }
    &__question-text {
        font-size: 1.25em;
        font-weight: $base-weight;
        margin-bottom: 3.2em;
    }
    &__navigation {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1em;
    }
    &__button {
        padding: 1em 2em;
        border: none;
        border-radius: 1em;
        cursor: pointer;
        font-size: 1.25em;
        font-weight: $base-weight;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $hover-color;
        }
    }
}