.quiz-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    margin: 0 auto;
    overflow: visible;
    &__history {
        display: none;
        width: 100%;
        background-color: transparent;
        color: #fff;
        margin-right: 0;
        align-self: stretch;
        flex-direction: column;
        gap: 1em;
    }
    &__history-item {
        border-radius: 1em;
        padding: 1em;
        &--completed {
            background-color: $primary-color;
            .quiz-card__history-title,
            .quiz-card__history-answer {
                color: #000000 !important;
            }
        }
        &--current {
            background-color: #000000;
            .quiz-card__history-title,
            .quiz-card__history-answer {
                color: $primary-color !important;
            }
        }
    }
    &__history-title {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 0.3em;
    }
    &__history-answer {
        font-size: 0.9em;
        font-weight: $base-weight;
    }
    &__content {
        position: relative;
        width: 100%;
        background-color: $primary-color;
        padding: 2em 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 1.5em;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: -0.53em;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 0.53em;
            background: linear-gradient(90deg, #F0D9FF 0%, #E9C4FF 100%);
            box-shadow: 0 0 1.25em 0.31em #E9C4FF;
            filter: blur(10px);
            opacity: 0.9;
            z-index: -1;
            pointer-events: none;
        }
    }
    &__question-title {
        font-size: 2.2em;
        margin-bottom: 0.5em;
        font-family: 'NeueMachina';
        line-height: 1.1;
    }
    &__question-text {
        font-size: 1.1em;
        font-weight: $base-weight;
        margin-bottom: 2em;
    }
    &__navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8em;
    }
    &__button {
        width: 100%;
        padding: 1em;
        border: none;
        border-radius: 1em;
        cursor: pointer;
        font-size: 1.1em;
        font-weight: $base-weight;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $hover-color;
        }
    }
    @media (min-width: 64em) {
        flex-direction: row;
        width: 90%;
        &__history {
            display: flex;
            width: 20em;
            margin-right: 0.5em;
            align-self: start;
        }
        &__history-item {
            border-radius: 0;
            border-bottom-right-radius: 1em;
            border-top-right-radius: 1em;
            padding: 1.2em 1em;
        }
        &__content {
            width: 69.5em;
            padding: 2em 2em 3em;
            border-radius: 2em;
            &::before {
                top: -3.75em;
                height: 3.75em;
                filter: blur(0.94em);
                box-shadow: 0 0 2.5em 0.62em #E9C4FF;
            }
        }
        &__question-title {
            font-size: 4.5em;
            margin-bottom: 0.33em;
        }
        &__question-text {
            font-size: 1.25em;
            margin-bottom: 3.2em;
        }
        &__navigation {
            flex-direction: row;
            justify-content: flex-start;
            gap: 1em;
        }
        &__button {
            width: auto;
            padding: 1em 2em;
            font-size: 1.25em;
        }
    }
}