.review-card {
    position: relative;
    flex: 0 0 calc(25% - 20px);
    background: #fff;
    border-radius: 2em;
    overflow: hidden;
    height: 29em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: flex-end;
    box-shadow: 0 0.4em 1.2em rgba(0, 0, 0, 0.05);
    &__header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &__bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__avatar-wrapper {
        position: absolute;
        top: -2.5em;
        left: 50%;
        transform: translateX(-50%);
        width: 5em;
        height: 5em;
        border-radius: 50%;
        border: 0.3em solid #fff;
        overflow: hidden;
        background: #fff;
    }
    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__body {
        position: relative;
        width: 100%;
        padding: 3.5em 1.5em 1.5em;
        border-radius: 1.5em;
        text-align: center;
        z-index: 2;
        background-color: $primary-color;
    }
    &__name {
        font-size: 1.5em;
        margin-bottom: 1.5em;
    }
    &__text {
        font-size: 1em;
        font-weight: $base-weight;
    }
}