.review-card {
    position: relative;
    flex: 0 0 85%;
    background: $primary-color;
    border-radius: 3em;
    overflow: hidden;
    height: 32em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.08);
    @media (min-width: 64em) {
        flex: 0 0 calc(25% - 1.25em);
    }
    &__header {
        height: 50%;
        width: 100%;
        position: relative;
    }
    &__bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__body {
        position: relative;
        height: 50%;
        background: $primary-color;
        padding: 3.5em 1.5em 1.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__avatar-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6em;
        height: 6em;
        border-radius: 50%;
        border: 0.35em solid $primary-color;
        background: $primary-color;
        overflow: hidden;
        z-index: 10;
    }
    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__name {
        font-size: 1.4em;
        font-weight: 700;
        margin: 0.5em 0 1em;
        color: #000;
    }
    &__text {
        font-size: 0.95em;
        line-height: 1.5;
        color: #333;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}