.second-step {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    z-index: 1000;
    &--hidden {
        display: none;
    }
    &__content {
        padding: 8em 0.5em 0.5em;
        border-radius: 2em;
        max-width: 25em;
        position: relative;
        text-align: center;
        background: #fff;
        width: 90%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        z-index: 1001;
    }
    &__emoji {
        font-size: 8em;
        margin-bottom: 0.19em;
    }
    &__title {
        font-size: 4.5em;
        font-family: 'NeueMachina';
        margin-bottom: 0.35em;
    }
    &__text {
        font-size: 1.25em;
        font-weight: $base-weight;
        margin-bottom: 3.2em;
    }
    &__button {
        width: 19.13em;
        height: 1.94em;
        margin: 0 auto;
        color: $primary-color;
        font-size: 2em;
        &:hover {
            background-color: $hover-color;
        }
    }
    &__closeBtn {
        right: 0.8em;
        top: 0.8em;
    }
}