.second-step {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    z-index: 1000;
    &--hidden {
        display: none;
    }
    &__content {
        padding: 3em 1em 2em;
        border-radius: 2em;
        position: relative;
        text-align: center;
        background: $primary-color;
        width: 90%;
        max-width: 25em;
        box-shadow: 0 0.25em 0.93em rgba(0, 0, 0, 0.1);
        z-index: 1001;
    }
    &__emoji {
        display: block;
        font-size: 5em;
        margin-bottom: 0.2em;
    }
    &__title {
        font-size: 2.2em;
        font-family: 'NeueMachina';
        margin-bottom: 0.5em;
        line-height: 1.1;
    }
    &__text {
        font-size: 1.1em;
        font-weight: $base-weight;
        margin-bottom: 2em;
    }
    &__button {
        width: 100%;
        max-width: 19.13em;
        height: auto;
        min-height: 2em;
        margin: 0 auto;
        color: $primary-color;
        font-size: 1.5em;
        padding: 0.5em;
        &:hover {
            background-color: $hover-color;
        }
    }
    &__closeBtn {
        position: absolute;
        right: 0.8em;
        top: 0.8em;
        background: none;
        border: none;
        cursor: pointer;
    }
    @media (min-width: 64em) {
        &__content {
            padding: 8em 0.5em 0.5em;
        }
        &__emoji {
            font-size: 8em;
        }
        &__title {
            font-size: 4.5em;
        }
        &__text {
            font-size: 1.25em;
            margin-bottom: 3.2em;
        }
        &__button {
            width: 19.13em;
            font-size: 2em;
        }
    }
}