.submenu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    padding: 0.6em 0 0 0;
    list-style: none;
    width: 100%;
    &__item {
        flex: 1 1 calc(50% - 0.3em);
        &:nth-child(n+3) {
            flex: 1 1 100%;
        }
        @media (min-width: 62em) {
            flex: 0 1 auto;
        }
    }
    &__link {
        display: block;
        padding: 1.2em 1.5em;
        background-color: $primary-color;
        border-radius: 1.2em;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        text-align: center;
        @media (min-width: 62em) {
            display: inline-block;
            background-color: #000;
            color: $primary-color;
            padding: 0.6em 1.5em;
            border-radius: 2em;
            font-size: 0.9em;
            width: max-content;
            font-weight: $base-weight;
            &:hover {
                background-color: $hover-color;
            }
        }
    }
    @media (min-width: 62em) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1em 0;
        z-index: 10;
    }
}