.submenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    padding: 0.5em 0;
    list-style: none;
    &__item {
        background-color: #ffffff;
        border-radius: 1em;
        &:last-child {
            grid-column: span 2;
        }
    }
    &__link {
        display: block;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        color: #000000;
        font-size: 0.9em;
    }
    @media screen and (min-width: 992px) {
        display: none;
        position: absolute;
        grid-template-columns: 1fr;
        top: 100%;
        left: 0;
        min-width: 15em;
        background: #000000;
        padding: 1em;
        z-index: 10;
        &__item {
            background: transparent;
            &:last-child {
                grid-column: auto;
            }
        }
        &__link {
            color: #ffffff;
            text-align: left;
        }
    }
}

@media screen and (min-width: 992px) {
    .menu__item--dropdown:hover .submenu {
        display: block;
    }
}