.submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 0.5em 0;
    list-style: none;
    &__item {
        width: auto;
        background: transparent;
    }
    &__link {
        display: inline-block;
        padding: 0.8em 1.5em;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #000000;
        border-radius: 2em;
        font-size: 0.9em;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $hover-color;
        }
    }
    @media screen and (min-width: 992px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 15em;
        padding: 1em 0;
        z-index: 10;
    }
}