.submenu {
    display: none;
    position: absolute;
    min-width: 15em;
    left: -0.2em;
    top: 3.2em;
    &__item:not(:last-child) {
        margin-bottom: 1.35em;
    }
    &__link {
        padding: 0.6em 0.8em;
        background-color: #000;
        color: $primary-color;
        border-radius: 1em;
        &:hover {
            background-color: $hover-color;
        }
    }
}