.title {
    font-family: 'NeueMachina';
    font-size: 2.25em;
    line-height: 1.1;
    margin-bottom: 0.5em;
    font-weight: 900;
    @media (min-width: 48em) {
        font-size: 4em;
        margin-bottom: 0.4em;
    }
    @media (min-width: 68.75em) {
        font-size: 6em;
        margin-bottom: 0.34em;
    }
}