@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/PPNeueMachina-Ultrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.banner {
  padding: 7.75em 0 6.06em;
  position: relative;
  text-align: center;
}
.banner__text {
  max-width: 34.5em;
  font-size: 1.25em;
  font-weight: 500;
  margin: 0em auto 1.6em;
}
.banner__img {
  position: absolute;
  max-width: 19.8em;
  bottom: 0em;
  height: auto;
}
.banner__img--left {
  left: 0em;
}
.banner__img--right {
  right: 0em;
}

.button {
  height: 2.25em;
  border-radius: 1.25em;
  font-weight: 500;
  font-size: 1.25em;
  background-color: #000;
  cursor: pointer;
  width: 11.55em;
}
.button:hover {
  background-color: #9E00FF;
  transition: 0.15s ease;
}
.button--primary {
  color: #FFF;
}

.header {
  padding: 1.25em 3em;
  border: 0.06em solid #F2F2F2;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "NeueMachina";
  font-size: 2.25em;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.menu__item {
  font-size: 1.25em;
  font-weight: 500;
}
.menu__item--dropdown {
  position: relative;
  z-index: 2;
}
.menu__item--dropdown:hover .menu__link {
  display: block;
  padding: 0.6em 0.8em;
  border-radius: 1em;
  background-color: #000;
  color: #FFF;
}
.menu__item--dropdown:hover .submenu {
  display: block;
}

.quiz-start {
  display: block;
  width: 12.55em;
  height: 2.35em;
  border-radius: 1.25em;
  font-weight: 500;
  font-size: 1.25em;
  background-color: #000;
  cursor: pointer;
  margin: 0em auto;
  line-height: 2.35em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}

.title {
  font-family: "NeueMachina";
  font-size: 6em;
  margin-bottom: 0.34em;
}

.submenu {
  display: none;
  position: absolute;
  min-width: 15em;
  left: -0.2em;
  top: 3.2em;
}
.submenu__item:not(:last-child) {
  margin-bottom: 1.35em;
}
.submenu__link {
  padding: 0.6em 0.8em;
  background-color: #000;
  color: #FFF;
  border-radius: 1em;
}
.submenu__link:hover {
  background-color: #9E00FF;
}/*# sourceMappingURL=style.css.map */